extends html, javascript, css

snippet vbaseme
<template>
	${0}
</template>

<script>
	module.exports = {

	}
</script>

<style>

</style>
endsnippet

snippet vbaseed
<template>
	${0}
</template>

<script>
	export default{

	}
</script>

<style>

</style>
endsnippet

snippet b-card
<b-card>
	${0}
</b-card>
endsnippet
