# Function: mkdir + cd
mkd() { mkdir -p "$@" && cd "$_";}

gcm() { git commit -m "$1";} # Function: git commit with message

uninstall_ejdots() { sh $EJPATH/tools/uninstall.sh;} # Function: uninstall EJDots

